.contact-section {
  // background-image: url('../../../assets/images/noise-background.png');
  padding-top: calc(var(--section-padding) * 1.65);
  background-color: #151515f6;
  background-size: 20rem 20rem;
  display: grid;
  grid-template-areas: 'earth' 'form';
  position: relative;

  .contact-container {
    grid-area: form;
    position: relative;
    
    color: #fff;
    background-color: #282828;
    border-radius: .8rem;
    margin-top: 2rem;
    padding: 2rem; 

    z-index: 1;

    .contact-sub-text {
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    .contact-main-text {
      color: var(--accent-color);      
      margin: 1.5rem 0;
      font-size: 3.2rem;
      text-transform: uppercase;
    }
    
    .contact-form {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .form-btn {
        width: 40%;
        color: #fff;
      }
  
      .contact-label {
        display: flex;
        flex-direction: column;
        width: 100%;
  
        .input {
          padding: 1rem;
          margin: .5rem 0 1rem; 
          border: none;
          border-radius: 1rem;
          box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  
          font-family: Hind;
          font-size: 1.5rem;
          color: var(--accent-color);
        }
  
        .text-area {
          flex-grow: 2;
          resize: vertical;
          max-height: 20rem;
        }
  
        .field-title {
          display: inline-block;
          font-family: SourceSans3;
          font-size: 2rem;
        }
      }
    }
  }

  .canvas-container {
    grid-area: earth;
    width: 30rem;
    height: 20rem;
    margin: auto;
    z-index: 1;
  }

  .stars-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    // width: 30rem;
    // height: 100%;
    z-index: 0;
  }
}


@media screen and (min-width: 760px) {
  .contact-section {
    .contact-container {
      margin-top: 2rem;
      width: 640px;
      margin: auto;
    }

    .canvas-container {
      margin-bottom: 2rem;
    }
  }
}
