.team-section {
  color: #fff;
  // background-color: #0d0d0dec;
  background-color: #75757520;
  padding: var(--section-padding) 0 0;
  position: relative;
  color: #0d0d0dec;

  .team-header {
    font-size: 3.2rem;
    text-align: center;
  }
  
  .team-intro {
    font-family: Hind;
    font-size: 1.6rem;
    text-align: justify;

    margin: 1rem 0; 
    padding: 0 var(--section-padding); 
  }

  .figure {
    padding: 0 4rem 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .img-title {
      margin-top: 2rem;

      .img-title-header {
        color: var(--accent-color)
      }

      .img-title-text {
        text-align: justify;
        font-size: 1.4rem;
      }

      .team-person {
        font-weight: bold;
      }
      
      .yoe {
        display: flex;
        align-items: center;
        gap: .5rem;

        .work-experience-dur {
          color: var(--accent-color);
          font-size: 2rem;
          vertical-align: middle;
        }
      }
    }

    img {
      align-self: center;
      aspect-ratio: 1;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  // .figure-container {

  //   .figure-wrapper {
  //     display: grid;
  //     grid-template-columns: 50% 50%;

  //     .figure-item {
  //       position: relative;
  //       width: 19.5rem;
  //       height: 22.6rem;

  //       &:nth-child(odd) {
  //         border: 1px solid #4a4a4a;
  //         border-width: 1px 1px 1px 0
  //       }
        
  //       &:nth-child(even) {
  //         border: 1px solid #4a4a4a;
  //         border-width: 1px 0 1px 1px;
  //       }

  //       &:nth-child(3n + 1) {
  //         background-color: #2b2b2b;
  //       }

  //       .figure {
  //         height: 100%;
          
  //         .team-img {
  //           aspect-ratio: 1 / 1;
  //           width: 100%;
  
  //           object-fit: cover;
  //           object-position: center;

  //           border-radius: 50%;
  //         }

  //         .img-title {
  //           text-align: center;
  //           font-weight: 600;
  //           font-size: 2rem;

  //           .info {
  //             display: block;
  //             margin-top: 1.5rem;

  //             .img-title-header {
  //               color: var(--accent-color);
  //             }

  //             .img-title-text {
  //               font-weight: 400;
  //               padding: 2rem;
  //               // text-align: justify;
  //             }

  //             .work-experience-dur {
  //               color: var(--accent-color);
  //               font-size: 3.5rem;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}


@media screen and (min-width: 750px) {
  .team-section {
    padding: calc(var(--section-padding) * 3) 0 0;

    .team-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      // max-width: 1140px;
      
      h1 {
        font-size: 4rem;
      }

      .team-intro {
        width: 960px;
        text-align: center;
        margin: 2rem 0;
      }

    }
    
    .figure {
      width: 50rem;

      .img-title {
        .team-person {
          font-size: 2rem;
        }

        .img-title-header {
          font-size: 2.5rem;
        }
        .img-title-text {
          font-size: 1.8rem;
        }

        .yoe {
          font-size: 1.8rem;
        }
      }
    }
  }
}
