.hero-section {
  padding: calc(var(--section-padding) * 12) var(--section-padding) calc(var(--section-padding) * 2.5);
  background-color: var(--primary-color-one);

  .hero-header {
    font-size: 4rem;
    text-align: left;
    margin-bottom: 1.5rem;
    font-weight: 500;

    &::before, &::after {
      display: block;
      content: "";
      width: 5rem;
      height: 0.2rem;
      background-color: var(--accent-color);
    }

    &::before {
      margin-bottom: 1.5rem;
    }

    &::after {
      margin-top: 1.5rem;
    }
  }

  .hero-text {
    font-family: Hind;
    text-align: justify;
    font-size: 1.95rem;
    margin-bottom: 1.3rem;
  }

  .hero-btn {
    background-color: #fff;
    // border-radius: 2rem;

    font-family: Lora;
    font-weight: 500;
    font-size: 1.1rem;
    // border: 0.2rem solid var(--accent-color);
    text-transform: uppercase;
  }
}
