.hero-section {
  padding: calc(var(--section-padding) * 12) var(--section-padding) calc(var(--section-padding) * 2.5);
  background-color: var(--primary-color-one);

  .hero-header {
    font-size: 4rem;
    text-align: left;
    margin-bottom: 1.5rem;
    font-weight: 500;

    &::before, &::after {
      display: block;
      content: "";
      width: 5rem;
      height: 0.2rem;
      background-color: var(--accent-color);
    }

    &::before {
      margin-bottom: 1.5rem;
    }

    &::after {
      margin-top: 1.5rem;
    }
  }

  .hero-text {
    font-family: Hind;
    text-align: justify;
    font-size: 1.95rem;
    margin-bottom: 1.3rem;
  }

  .hero-btn {
    background-color: #fff;
    // border-radius: 2rem;

    font-family: Lora;
    font-weight: 500;
    font-size: 1.1rem;
    // border: 0.2rem solid var(--accent-color);
    text-transform: uppercase;
  }
}

.overview-section {
  background-color: var(--primary-color-one);
  $padding-top: calc(var(--section-padding) * 2.5);
  padding-top: $padding-top;
  padding-bottom: 4rem;
  font-family: Hind;
  font-size: 1.8rem;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 0.2rem;
    height: 4rem;
    background-color: var(--accent-color);
    position: absolute;
    transform: translate(calc(50vw - var(--section-padding)), calc(0rem - ($padding-top + 2rem)));
  }

  .overview-header {
    font-family: SourceSans3;
    font-size: 3.2rem;
    margin-bottom: 2.5rem;
  }

  .overview-text {
    font-size: 1.9rem;
    text-align: justify;
  }

  .overview-list {
    margin-top: 2.5rem;

    li {
      width: 100%;
      height: 18rem;
      display: flex;
      align-items: center;

      margin-bottom: 3rem;
      border: 0.2rem solid var(--secondary-color);
      border-radius: 0.5rem;
      padding: 2rem;

      box-shadow: 0.3rem 0.3rem 0.5rem var(--accent-color);
    }

    .item-heading {
      display: flex;
      align-items: center;

      .list-header {
        font-weight: 600;
        margin-left: 1rem;
      }
    }

    .item-text {
      text-align: justify;
      font-size: 1.6rem;
    }
  }

  .overview-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .demarcation {
      width: 0.2rem;
      height: 4rem;
      background-color: var(--accent-color);
    }

    .overview-btn {
      font-size: 1.2rem;
      font-family: Lora;
      text-transform: uppercase;
  
      background-color: #fff;
      padding: 1.3rem 2.5rem;
      box-shadow: 0.15rem 0.25rem 0.1rem #000;
    }
  }
}

.products-section {
  width: 100%;
  left: 0;
  padding: 0;

  .products-header {
    text-align: center;
    font-size: 3.2rem;
    margin: 1.5rem 0;
    color: #000;
    
    .accent-part {
      color: var(--accent-color);
    }
  }

  .product-container{
    background-color: #fff;
    width: 100%;
    height: 36vh;

    margin-bottom: 1.2rem;

    .figure-container {
      width: 100%;
      height: 100%;
      position: relative;
  
      .product-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .img-caption {
        position: absolute;
        top: 7%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .img-desc {
          color: var(--accent-color);
          text-transform: uppercase;
        }

        .img-buttons button {
          border: unset;
          color: var(--accent-color);
        }
      }

      .special {
        .img-desc { color: #fff; }
        .img-buttons button { color: #fff; }
        .button-icon { color: #fff; }
      }
    }
  }
}

.testimonial-section {
  padding: calc(var(--section-padding) * 1) calc(var(--section-padding) * 0.75) 0;
  overflow: hidden;

  .testimonial-header {
    font-family: Lora;
    font-style: italic;
    text-align: center;
    font-weight: 600;
    font-size: 3.2rem;
  }

  .intro {
    margin: 1.5rem 0 2rem;
    text-align: justify;
    font-family: Hind;
    font-size: 1.9rem;
  }

  .quote-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .quote-wrapper {
      display: flex;
      position: relative;

      .quote-slide {
        width: 100%;
        height: 42rem;
        margin-right: 2rem;
        border: 0.1rem solid var(--secondary-color);
        border-radius: 1rem;
        padding: 2rem;

        font-size: 1.7rem;

        .quote-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &:before {
            content: '"';
            text-align: end;
            display: inline-block;
            font-family: SpaceGrotesk;
            font-size: 7rem;
            font-weight: 600;
            rotate: 180deg;
          }

          .quote {
            font-family: Lora;
            font-style: italic;
            margin-top: 1.5rem;
          }

          .footer {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 4rem;

            .author-photo {
              aspect-ratio: 1 / 1;
              object-fit: cover;
              width: 6.5rem;

              border-radius: 50%;
            } 
          }
        }
      }
    }
  }

  .test-navigation {
    margin: 3rem 0;
    .nav-list {
      display: flex;
      justify-content: center;

      .item {
        width: 1rem;
        height: 1rem;
        margin-right: 1.5rem;
        border: 0.1rem solid var(--secondary-color);
        box-shadow: 0.15rem 0.15rem;
      }

      .active {
        background-color: #000;
        box-shadow: 0.15rem 0.15rem #fff;
      }
    }
  }
}

.team-section {
  color: #fff;
  background-color: #0d0d0dec;
  padding: var(--section-padding) 0;

  .team-header {
    font-size: 3.2rem;
    text-align: center;
  }
  
  .team-intro {
    font-family: Hind;
    font-size: 1.9rem;
    text-align: justify;

    margin: 4.5rem 0; 
    padding: 0 var(--section-padding); 
  }

  .figure-container {

    .figure-wrapper {
      display: grid;
      grid-template-columns: 50% 50%;

      .figure-item {
        width: 19.5rem;
        height: 22.6rem;

        &:nth-child(odd) {
          border: 1px solid #4a4a4a;
          border-width: 1px 1px 1px 0
        }
        
        &:nth-child(even) {
          border: 1px solid #4a4a4a;
          border-width: 1px 0 1px 1px;
        }

        &:nth-child(3n + 1) {
          background-color: #2b2b2b;
        }

        .figure {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 2rem;
          
          .team-img {
            aspect-ratio: 1 / 1;
            width: 75%;
  
            object-fit: cover;
            object-position: center;

            border-radius: 50%;
          }

          .img-title {
            text-align: center;
            font-weight: 600;
            font-size: 2rem;
          }
        }
      }
    }
  }
}
