/* Light SourceSans3 Font */
@font-face {
  font-family: 'SourceSans3';
  src: url('./SourceSans3-Light.ttf') format('truetype'),
       url('./SourceSans3-Light.woff') format('woff');
  font-weight: 300;
}

/* Regular SourceSans3 Font */
@font-face {
  font-family: 'SourceSans3';
  src: url('./SourceSans3-Regular.ttf') format('truetype'),
       url('./SourceSans3-Regular.woff') format('woff');
  font-weight: 400;
}

/* Medium SourceSans3 Font */
@font-face {
  font-family: 'SourceSans3';
  src: url('./SourceSans3-Medium.ttf') format('truetype'),
       url('./SourceSans3-Medium.woff') format('woff');
  font-weight: 500;
}

/* Semibold SourceSans3 Font */
@font-face {
  font-family: "SourceSans3";
  src: url('./SourceSans3-SemiBold.ttf') format('truetype'),
       url('./SourceSans3-SemiBold.woff') format('woff');
  font-weight: 600;
}