@import url('./assets/fonts/Hind/Hind.css');
@import url('./assets/fonts/Lora/Lora.css');
@import url('./assets/fonts/SourceSans3/SourceSans3.css');
@import url('./assets/fonts/SpaceGrotesk/SpaceGrotesk.css');

/* Reset margins and padding on all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  scroll-behavior: smooth;

  --primary-color-one: #fffaeb;
  --primary-color-two: #b5ac62;
  --secondary-color: #434343;
  --secondary-color-two: #bdbdbd;
  --accent-color: #4f7942;

  font-size: 62.5%;
}

/* declare some CSS variables to be reused throughout the codebase */
body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: 'SourceSans3', 'Hind', 'Lora';
  font-size: 1.6rem;
  color: var(--secondary-color);

  --gap-padding: clamp(1rem, 6vw, 2rem);
  --section-padding: clamp(2.5rem, 5vh, 3.5rem);
  // --container-padding: clamp();
}

/* Set the default list and link styles to none */
ul, ol {
  list-style: none;
}

a { text-decoration: none; color: #000; }

/* Disable focus style for mouse users */
:focus:not(:focus-visible) {
  outline: none;
}

/* Declare styles for the preloader and loader icons */
.icon {
  aspect-ratio: 1 / 1;
  width: 8rem;

  fill: var(--primary-color-one);
}

.logo-icon {
  aspect-ratio: 1 / 1;
  width: 6rem;
}

.socials-icon {
  aspect-ratio: 1 / 1;
  width: 2.5rem;
  fill: var(--primary-color-one);
}

.regular-icon {
  aspect-ratio: 1 / 1;
  width: 4rem;
  fill: var(--secondary-color);
  opacity: 0.5;
}

.accent-btn, .reg-btn {
  aspect-ratio: 1 / 1;
  width: 1rem;
}

.accent-btn {
  fill: var(--accent-color);
}

.reg-btn {
  fill: #fff;
}

button {
  border: none;
  background-color: unset;
  padding: 1rem 3.5rem;
  margin-top: 1rem;
  color: #000;

  border: 0.2rem solid var(--accent-color);
  border-radius: 2rem;
}

section {
  padding: var(--section-padding) var(--section-padding) calc(var(--section-padding) * 2.5);
  line-height: 3rem;
}
